{{define "title"}}Blog{{end}} {{define "content"}}
<div class="py-24 sm:py-32 max-w-7xl px-6 lg:px-8 text-lg">
  <h2 class="font-bold text-4xl underline">Blog #0 - Blog</h2>
  <p class="mt-6 leading-6 text-neutral-600 italic">Drew Boram</p>
  <p class="mt-6 text-lg leading-8">
    Welcome to my site! This blog about the pending blogs (a
    <span class="italic">metablog</span>, if you will) is truthfully just a
    placeholder until I get the rest of the website to a state I'm happy with.
    <br /><br />
    The plan is to use this as a place to yell my opinions on tech into the
    void. I don't expect anyone to read them, but sometimes I have thoughts that
    I regret not typing down. Nowadays, the Internet seems filled to the brim
    with opinions that nobody asked for, but gosh darnit, I paid for this domain
    and I'll put my opinions on it if I want to!
  </p>
</div>
{{end}}
